{% extends 'layout.html' %}
{% block content %}


<div class="container-fluid" id="imgabout">
    <img src="static/img/aboutuss.png" class="img-fluid mx-auto h-auto" alt="">
</div>

<section id="about">
    <div class="main-content-div">
        <div class="about-container">
            <h1><strong>About Us</strong></h1>
            <div class="para__block space-fw">
                <!-- Vision -->
                <h2><strong>Our Vision</strong></h2>
                <p>Baby & Bear's vision is to be the guiding light for parents as they embark on the beautiful journey
                    of raising little ones.
                    We aspire to create a world where every child are able to enjoy the warmth of comfort, safe, and
                    stylish baby essentials.
                    We envision a future where parents can rely on us for all their baby gear needs, knowing that we've
                    put love and care into every product.
                </p>
                <br>
                <!-- Missions -->
                <h2><strong>Our Missions</strong></h2>
                <ol>
                    <li>
                        <p>We provide top-quality, safe, and stylish baby essentials.</p>
                    </li>
                    <li>
                        <p>We offer parents peace of mind by ensuring the safety of our products.</p>
                    </li>
                    <li>
                        <p>We continuously innovate to meet the unique needs of babies and parents.</p>
                    </li>
                    <li>
                        <p>We foster unforgettable moments through our thoughtfully designed gear.</p>
                    </li>
                    <li>
                        <p>We strive to be a trusted companion on every family's journey.</p>
                    </li>
                </ol>
                <br>
                <!-- History -->
                <h2><strong>Our History</strong></h2>
                <p>Baby & Bear was born in 2005 when two dedicated parents decided to create a brand that would simplify
                    and enhance parenthood.
                    Starting as a small, family-run operation, we crafted baby gear by hand in our humble garage.
                    We quickly gained the trust of local parents with our commitment to quality and safety. This early
                    success fueled our desire to expand our offerings.
                </p>
                <p>As the demand for our products grew, we moved into a dedicated workspace and intensified our research
                    and development efforts.
                    Collaborating with experts and drawing inspiration from around the world, we refined our products
                    and introduced them to a wider audience through our first flagship store in 2010.
                    The heartwarming feedback and stories from satisfied parents motivated us to continually improve and
                    broaden our range.
                </p>
                <p>Over the years, Baby & Bear has evolved into a global brand, cherished by parents everywhere.
                    Our expanded product line, eco-friendly materials, and ethical production practices reflect our
                    dedication to enhancing the parenting journey.
                    We're proud to have accompanied countless families on their unique adventures, and we're committed
                    to supporting parents for many more years to come.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}