{% extends 'layoutadmin.html'%}
{% block content %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Edit Product
            </h2>
          </div>
          {% for row in data %}
          <form action="/halamanedit" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="inputAddress">Category</label>
              <select name="kategori" class="form-control" required>
                <option disabled="disabled" selected="true">--- Select Category ---</option>
                <option value="Pacifier" {% if row[1] == 'Pacifier' %} selected {% endif %}>Pacifiers</option>
                <option value="BabyRides" {% if row[1] == 'BabyRides' %} selected {% endif %}>Baby Rides</option>
                <option value="Clothings" {% if row[1] == 'Clothings' %} selected {% endif %}>Clothings</option>
              </select>  
            <br>
            <div class="form-group">
              <label for="inputAddress">Image</label>
              <input type="file" name="gambar" class="form-control" autocomplete="off" value="{{ row[2] }}" required>
            </div>
            <br>
            <div class="form-group">
              <label for="inputAddress">Product Name</label>
              <input type="text" class="form-control" name='nama_produk' value="{{ row[3] }}" required>
            </div>
            <br>
            <div class="form-group">
              <label for="inputAddress">Description</label>
              <input type="text" class="form-control" name='deskripsi' value="{{ row[4] }}" required>
            </div>
            <br>
            <div class="form-group">
              <label for="inputAddress">Price</label>
              <input type="number" class="form-control" name='harga_jual' value="{{ row[5] }}" required>
            </div>
            <br>
            <button type="submit" value="Submit" class="btn btn-primary">Save</button>
          </form>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="imgform">
          <img src="static/img/produk.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module" src="./static/js/jquery-3.5.1.min.js"></script>

<!-- end about section -->
{% endblock %}