{% extends 'layout.html'%}
{% block content %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron p-3">
          <h2>Manage Products <button id="btn" type="button" class="btn btn-success float right" data-toggle="modal"
              data-target="#mymodal" onclick="insert()">Add New Products</button></h2>

          <table class="table table-hover table-dark">
            <tr>
              <th>No</th>
              <th>Image</th>
              <th>Category</th>
              <th>Products</th>
              <th>Price</th>
              <th>Action</th>
            </tr>

            <tr>
              <td>1</td>
              <td></td>
              <td>Clothings</td>
              <td>Baju</td>
              <td>Rp14000</td>
              <!-- {% if data|length == 0 %}
              <b>No Entry Has Been Added</b> <br />
              {% else %}
              {% for row in data %}
            <tr>
              <td class="text-center" style="color:white;"><b>{{row[0]}}</b></td>
              <td class="text-center" style="color:white;"><b>{{row[1]}}</b></td>
              <td class="text-center" style="color:white;"><b>{{row[2]}}</b></td>
              <td class="text-center" style="color:white;"><b>{{row[3]}}</b></td>
              <td class="text-center" style="color:white;"><b>{{row[4]}}</b></td>
              <td class="text-center" style="color:white;">
                <a href='/edit/{{row[0]}}'><b>Edit </b></a> |
                <a href='/hapus/{{row[0]}}'><b>Hapus</b></a>
              </td>
            </tr>
            {% endfor %}
            {% endif %} -->
              <td>
                <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
              </td>
            </tr>
          </table>
        </div>

        <div id="mymodal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Products</h4>
              </div>
              <div class="modal-body">
                <form action="" method="POST" name="insert">
                  <div class="form-group">
                    <label for="inputNomor">No</label>
                    <input type="text" class="form-control" name='nomor' placeholder="No." required="1">
                  </div>
                  <div class="form-group">
                    <label for="inputImage">Image</label>
                    <input type="text" class="form-control" name='image' placeholder="Image" required="1">
                  </div>
                  <div class="form-group">
                    <label for="inputCategory">Category</label>
                    <input type="text" class="form-control" name='category' placeholder="Category" required="1">
                  </div>
                  <div class="form-group">
                    <label for="inputProduct">Products</label>
                    <input type="text" class="form-control" name='product' placeholder="Product" required="1">
                  </div>
                  <div class="form-group">
                    <label for="inputPrice">Price</label>
                    <input type="text" class="form-control" name='price' placeholder="Price" required="1">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add Products</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-md-4">
      <div class="img-box">
        <img src="static/images/about-img.png" alt="">
      </div>
    </div>

  </div>
  </div>
</section>

<script>
  function insert() {
    const btn = document.getElementById('btn');
    btn.addEventListener('Click', () => {


      var insert = document.getElementById('mymodal');
      if (insert.style.display === 'hidden') {
        insert.style.display = 'visible'
      }
      else {
        insert.style.display = 'hidden'
      }
    });
  }
</script>

<!-- end about section -->
{% endblock %}