{% extends 'layoutadmin.html'%}
{% block content %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <h2>
      Data Order
    </h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th class="text-center">ORDER ID</th>
            <th class="text-center">USERNAME</th>
            <th class="text-center">PRODUCT ID</th>
            <th class="text-center">QUANTITY</th>
            <th class="text-center">TOTAL</th>
            <th class="text-center">DELIVERY STATUS</th>
            <th class="text-center">ORDER DATE</th>
            <th class="text-center">ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% if data|length == 0 %}
          <b>No Entry Has Been Added</b> <br />
          {% else %}
          {% for row in data %}
          <tr>
            <td scope="row">{{ loop.index }}</td>
            <td class="text-center" style="color:black;">{{row[1]}}</td>
            <td class="text-center" style="color:black;">{{row[2]}}</td>
            <td class="text-center" style="color:black;">{{row[3]}}</td>
            <td class="text-center" style="color:black;">{{row[4]}}</td>
            <td class="text-center" style="color:black;">{{row[5]}}</td>
            <td class="text-center" style="color:black;">{{row[6]}}</td>
            <td class="text-center" style="color:black;">
              <form method="POST" action="/update_delivery/{{row[0]}}">
                  <button type="submit" class="btn btn-success btn-sm">Mark as Delivered</button>
              </form>
          </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination pagination-sm justify-content-end">
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<!-- end about section -->
{% endblock %}