{% extends 'layoutadmin.html'%}
{% block content %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <h2>
      Data Order
    </h2>
    <form action="/filter" method="POST">
      <div class="mb-2" style="display: flex!important; flex-direction: row-reverse;">
        <button type="submit" style="display: flex; flex-wrap: wrap; flex-direction: row-reverse;" class="button-1">Filter Data</button>
        <div class="me-3 form-group categoryselected" style="display: none">
            <select name="filterCategory" class="form-control" style="width: 100%;" required>
              <option disabled="disabled" selected="true" value="">--- Select Category ---</option>
              <option value="Pacifier">Pacifiers</option>
              <option value="BabyRides">Baby Rides</option>
              <option value="Clothings">Clothings</option>
            </select>
        </div>
        <div class="me-3 form-group dateselected" style="display: none; align-items: baseline;">
          <input class="me-2 form-control" name="dateAwal" type="date" required>
          &mdash;
          <input class="ms-2 form-control" name="dateAkhir" type="date" required>
        </div>
        <select name="filter" class="me-4 form-control filterselect" style="width: 12%!important;" onchange="filterSelected()" required value="">
          <option disabled="disabled" selected="true">--- Select Filter ---</option>
          <option value="Category">Category</option>
          <option value="Date">Date</option>
        </select>        
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th class="text-center">ORDER ID</th>
            <th class="text-center">USERNAME</th>
            <th class="text-center">PRODUCT ID</th>
            <th class="text-center">QUANTITY</th>
            <th class="text-center">TOTAL</th>
            <th class="text-center">DELIVERY STATUS</th>
            <th class="text-center">ORDER DATE</th>
            <th class="text-center">ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% if data|length == 0 %}
          <b>No Entry Has Been Added</b> <br />
          {% else %}
          {% for row in data %}
          <tr>
            <td scope="row">{{ loop.index }}</td>
            <td class="text-center" style="color:black;">{{row[1]}}</td>
            <td class="text-center" style="color:black;">{{row[2]}}</td>
            <td class="text-center" style="color:black;">{{row[3]}}</td>
            <td class="text-center" style="color:black;">{{row[4]}}</td>
            <td class="text-center" style="color:black;">{{row[5]}}</td>
            <td class="text-center" style="color:black;">{{row[6]}}</td>
            <td class="text-center" style="color:black;">
              {% if row[5] == 'On Progress' %}
                <form method="POST" action="/update_delivery/{{row[0]}}">
                    <button type="submit" class="btn btn-success btn-sm">Mark as Delivered</button>
                </form>
              {% endif %}
          </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
      <br><br><br><br>
    </div>
  </div>
</section>

<script>
  function filterSelected() {
    var selectedFilter = document.querySelector('.filterselect').value;
    var categoryFilterDiv = document.querySelector('.categoryselected');
    var dateFilterDiv = document.querySelector('.dateselected');

    if(selectedFilter === "Category") {
      categoryFilterDiv.style.display = 'flex'; // Use 'flex' if it's a flex container
      dateFilterDiv.style.display = 'none';
    } else {
      categoryFilterDiv.style.display = 'none';
      dateFilterDiv.style.display = 'flex';
    }
  }
</script>



<!-- end about section -->
{% endblock %}